.main-page-container {
  width: 100%;
  min-width: 1100px;

  .top-banner-container {
    flex: 0 0 600px;
    height: 600px;
    width: 100%;
    color: #ffffff;
    background-color: #04050b;
    position: relative;
    overflow: hidden;

    .bg-img-background {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      width: 100%;
      filter: blur(10px);
      margin: -30px;
    }

    .center-banner-container {
      width: 1200px;
      height: 600px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;

      .bg-img {
        width: 1200px;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }

      .loop-circle-container {
        width: 1200px;
        height: 600px;
        position: relative;
        z-index: 20;
        transform: translateX(18%);

        .circle {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          position: absolute;
          background: #ffffff;
          border: 1px solid #d0fcff;
          //   border: 0 solid #d0fcff;
          box-shadow: 0 0 8px 0 #9dfeff, 0 0 12px 0 #cffeff;
        }

        .circle1 {
          animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -3s infinite alternate,
            animY 6s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate,
            scale 12s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
        }

        .circle2 {
          animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -5.4s infinite alternate,
            animY 6s cubic-bezier(0.36, 0, 0.64, 1) -2.4s infinite alternate,
            scale 12s cubic-bezier(0.36, 0, 0.64, 1) -2.4s infinite alternate;
        }

        .circle3 {
          animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -7.8s infinite alternate,
            animY 6s cubic-bezier(0.36, 0, 0.64, 1) -4.8s infinite alternate,
            scale 12s cubic-bezier(0.36, 0, 0.64, 1) -4.8s infinite alternate;
        }

        .circle4 {
          animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -10.2s infinite alternate,
            animY 6s cubic-bezier(0.36, 0, 0.64, 1) -7.2s infinite alternate,
            scale 12s cubic-bezier(0.36, 0, 0.64, 1) -7.2s infinite alternate;
        }

        .circle5 {
          animation: animX 6s cubic-bezier(0.36, 0, 0.64, 1) -12.6s infinite alternate,
            animY 6s cubic-bezier(0.36, 0, 0.64, 1) -9.6s infinite alternate,
            scale 12s cubic-bezier(0.36, 0, 0.64, 1) -9.6s infinite alternate;
        }

        @keyframes animX {
          0% {
            left: 20%;
          }

          100% {
            left: 96%;
          }
        }

        @keyframes animY {
          0% {
            top: 20%;
          }

          100% {
            top: 96%;
          }
        }

        @keyframes scale {
          0% {
            transform: scale(0.6);
            opacity: 0.7;
          }

          50% {
            transform: scale(0.8);
            opacity: 1;
          }

          100% {
            transform: scale(0.6);
            opacity: 0.7;
          }
        }
      }
    }
  }
}
